
#background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #222;
  z-index: -1;
  overflow: hidden;
}

#background img {
  min-width: 100%;
  min-height: 100%;
  max-width: 1000%;
  -webkit-transition: -webkit-filter 300ms;
}

#background.hash img {
  -webkit-filter: saturate(0%) brightness(45%);
}

#html, #html > div, main {
  min-height: 100%;
  height: 100%;
  overflow: visible;
}

.shadow {
  color: white;
  text-shadow: 0 0.05em 0 #333, 0 0.1em 0 #777;
}

.right-off-canvas-menu {
  position: fixed;
}

#menu_icon {
  position: fixed;
  right: 0;
  top: 0;
  width: 3em;
  height: 3em;
}
#menu_icon span::after {
  content: "";
  position: absolute;
  display: block;
  height: 0;
  top: 50%;
  margin-top: -0.5rem;
  left: 0.90625rem;
  box-shadow: 0 0 0 1px #fff,0 7px 0 1px #fff,0 14px 0 1px #fff;
  width: 1rem;
}
