
#login-form > div > .circles-loader {
	margin: 2em auto;
	display: none;
}
#login-form.loading > div > div {
	display: none;
}
#login-form.loading > div > div.circles-loader {
	display: inherit;
}

.errors {
	color: red;
	font-weight: bold;
	text-transform: capitalize;
}

.search > input {
	width: 98%;
	padding: 1%;
	outline: none;
	border: none;
	display: block;
}

.search > div {
	display: block;
	height: 0;
	width: 100%;
	text-transform: capitalize;
}


#search_icon {
  position: fixed;
  left: 0;
  top: 0;
  width: 3em;
  height: 3em;
}
#search_icon span::after {
  content: "";
  position: absolute;
  display: block;
  height: 0;
  top: 50%;
  margin-top: -0.5rem;
  left: 0.90625rem;
  box-shadow: 0 0 0 1px #fff,0 7px 0 1px #fff,0 14px 0 1px #fff;
  width: 1rem;
}


#menu_icon {
  position: fixed;
  right: 0;
  top: 0;
  width: 3em;
  height: 3em;
}
#menu_icon span::after {
  content: "";
  position: absolute;
  display: block;
  height: 0;
  top: 50%;
  margin-top: -0.5rem;
  left: 0.90625rem;
  box-shadow: 0 0 0 1px #fff,0 7px 0 1px #fff,0 14px 0 1px #fff;
  width: 1rem;
}


.move-right .exit-off-canvas, .move-left .exit-off-canvas {
	box-shadow: none;
	background: transparent !important;
}
